# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Nuke
*.nk~
*.autosave
*.tmp
*.crash
.nuke/
*.nknc
*.nkc
examples/renderOutput/*


# Project specific
logs/
*.log
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.nk2dl.yaml
*.pfx
.ignore/

# OS specific
.DS_Store
Thumbs.db 